<%- include('partials/head') %>

<%- include('partials/navbar') %>

<h1>The Home Page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, ex explicabo. Quisquam reprehenderit magni
    unde provident ducimus et ipsa dolor perspiciatis odio, porro, exercitationem quis veritatis voluptates odit
    eius sunt?
    Qui animi, culpa accusamus consequatur laboriosam, rerum ex minima cumque placeat ipsam, adipisci corrupti
    voluptates eos ab deserunt at perspiciatis dicta enim. Rem est, reiciendis numquam voluptas dicta ipsa hic?
    Tempora, rerum? Non, aspernatur et? Praesentium nulla aut pariatur deleniti culpa assumenda, facilis, tempora in
    dolorem excepturi mollitia esse velit quia modi autem temporibus commodi voluptatum sequi officia deserunt!
    Reiciendis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut voluptates, officia iste odit veritatis
    mollitia molestias voluptate in, incidunt sapiente veniam laudantium nesciunt tempore ipsum soluta, et iusto
    fugiat!</p>

<%- include('partials/footer') %>